name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write # Required to create releases and upload assets

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Binary
        run: |
          pyinstaller --onefile --name esri-cli cli.py

      - name: Create Release and Upload Assets
        uses: softprops/action-gh-release@v2
        with:
          files: |
            dist/esri-cli
          generate_release_notes: true # Automatically generates a changelog
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
